*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

body,
html {
    background-color: $white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-style: $base-font-style;
    word-spacing: normal;
    font-size: $base-font-size;
    color: $black;
}

.hide {
    display: none;
}
