$primary: #3C1F1D;
$primary-50: #feecdc;
$secondary: #FFF8EF;
$accent: #9c27b0;
$dark: #1d1d1d;
$positive: #21ba45;
$active-success: #3cc13b;
$unactive-success: rgb(60 193 59 / 50%);
$negative: #f03738;
$active-error: #f03738;
$unactive-error: rgb(240 55 56 / 50%);
$info: #31ccec;
$warning: #f2c037;
$grey-50: #f9fbfc;
$grey-100: #f4f6f7;
$grey-200: rgba(51, 51, 51, 0.16);
$grey-300: #c9cbcc;
$grey-500: #979899;
$grey-700: #585959;
$grey-800: #3f3f40;
$dark-brown: #2a2321;
$drawer-burger-btn-width: 34px;
$header-desktop-height: 91px;
$header-mobile-height: 64px;
$base-gradient: linear-gradient(90deg, #ffa300 -15.72%, #f15a24 125.76%);
$error-50: #fef2f2;
$error-500: #ef4444;
$success-50: #ecfdf5;
$success-300: #6ee7b7;
$success-500: #10b981;
$warning-50: #fffbeb;
$warning-500: #fba151;
$warning-550: #f59e0b;

// Colors
$white: #fff;
$black: #000;
$base-orange: #f97f13;

// Typography
// font-size
$small-font-size: 12px;
$base-font-size: 16px;
$title-font-size: 16px;

// font-weight
$base-font-weight: 400;
$bold-font-weight: 700;

// font-style
$base-font-style: normal;

// indents
$base-indent: 16px;
$high-indent: 32px;

// font-family
$base-font-family: "OpenSansRegular",
sans-serif;
$base-font-family-semi-bold: "OpenSansSemiBold",
sans-serif;

// font-weight
$base-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
$base-line-height: 1.6;

// font-style
$base-font-style: normal;

$base-gradient: linear-gradient(90deg, #ffa300 -15.72%, #f15a24 125.76%);
$disable-input-gradient: linear-gradient(0deg, rgb(255 255 255 / 75%), rgb(255 255 255 / 75%)),
#c2c9d1;
$base-transition: all 200ms ease-in;
$base-box-shadow: rgb(249 149 56 / 20%);
$base-border: 1px solid rgb(255 255 255 / 50%);


.bg-base-gradient {
    background: linear-gradient(90deg, #ffa300 -15.72%, #f15a24 125.76%) !important;
}

.text-success-500 {
    color: $success-500;
}

.text-warning-500 {
    color: $warning-500;
}

.text-error-500 {
    color: $error-500;
}
